<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h4 class="m-0">Apply for a car insurance quote</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Apply", "Home", FormMethod.Post))
            {
                <div class="row no-gutters">
                    <div class="form-group col-md-12">
                        First Name
                        <input name="FirstName" type="text" class="form-control" placeholder="Name" hidden-value="firstName" />
                    </div>

                    Last Name
                    <div class="form-group col-md-12">
                        <input name="LastName" type="text" class="form-control" placeholder="Name" hidden-value="lastName" />
                    </div>

                    Email Address
                    <div class="form-group col-md-12">
                        <input name="EmailAddress" type="Email" class="form-control" placeholder="abc@mail.com" hidden-value="emailAddress" />
                    </div>

                    Age
                    <div class="form-group col-md-12">
                        <input name="BirthDate" type="text" class="form-control" placeholder="##" hidden-value="birthDate" />
                    </div>

                    Year of Car
                    <div class="form-group col-md-12">
                        <input name="CarYear" type="text" class="form-control" placeholder="####" hidden-value="carYear" />
                    </div>

                    Car Make
                    <div class="form-group col-md-12">
                        <input name="CarMake" type="text" class="form-control" placeholder="Aa" hidden-value="carMake" />
                    </div>

                    Car Model
                    <div class="form-group col-md-12">
                        <input name="CarModel" type="text" class="form-control" placeholder="Aa" hidden-value="carModel" />
                    </div>

                    Have you had any DUIs?
                    <div class="form-group col-md-12">
                        <input name="DUI" type="text" class="form-control" placeholder="yes/no" hidden-value="DUI" />
                    </div>

                    How many tickets have you had? (enter "0" for none)
                    <div class="form-group col-md-12">
                        <input name="Tickets" type="text" class="form-control" placeholder="#" hidden-value="tickets" />
                    </div>

                    Do you want "Full" or "liability" coverage?
                    <div class="form-group col-md-12">
                        <input name="CoverageType" type="text" class="form-control" placeholder="full/liability" hidden-value="coverageType" />
                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-block btn-info" value="submitQuote">
                            Get Quote
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>