@using MVCProject.ViewModels

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Applicant Details</h5>
        </div>
        <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p>Your insurance quote: $@Model </p><br />
                        This quote was based on the information you provided us.
                    </div>
                </div>

        </div>
    </div>
</div>