<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quote Calculator</title>
</head>
<body>
    <hgroup>
        <h1>Your insurance quote:</h1>


    </hgroup>
</body>
</html>