<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your quote:</title>
</head>
<body>
    <hgroup>
        <h1>Something</h1>
        <h2>$$$</h2>

    </hgroup>
</body>
</html>